#
# MANIFEST template for source distribution generation
#

include LICENSE README.md MANIFEST.in setup.py setup.cfg
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo

# python modules
recursive-include   src/faber *.py

# version info
include versioneer.py

#documentation
recursive-include   doc *

# unit tests
recursive-include tests *

# examples
recursive-include examples *
